.z1{
    width:100%;
    height: 110px;
    box-shadow: 10px 10px 10px rgba(111,111,111,.5);
    position: relative;

}
.z1 .z2{
    display: inline-block;
    width: 160px;
    height:50px;
    background: url("../images/1.png") no-repeat;
    position: absolute;
    top:20px;
    left:20px;
}
.z1 .z3 {
    font-size: 18px;
    line-height: 34px;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 200px;
    top: 28px;
    padding-left: 20px;
    font-weight: bold;
}
.z4 {
    width: 1210px;
    margin: 0 auto;
}
.z5 {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}
.z5_z6 {
    width: 100%;
    height: 52px;
    padding-bottom: 30px;
}
.z5_z6 .z6 {
    width: 100%;
    height: 100%;
    line-height: 52px;
    padding-left: 10px;
    border: 1px solid #ccc;
    position: relative;
}
.z5_z6 .z6 input {
    width: 200px;
    font-size: 16px;
    padding-left: 0px;
    margin-left: 20px;
}
.z5_z6 .z6.error {
    border: 1px solid red;
}
.z5_z6.xieyi {
    width: 100%;
    height: 20px;
    padding-bottom: 30px;
    /* background-color: #ccc; */
}
.z5_z6.xieyi .z6 input {
    width: auto;
}
.z5 button {
    width: 100%;
    height: 40px;
    font: bold 18px/40px "宋体";
    color: white;
    background-color: darkred;
    outline-color: white;
}
.nxl1{
    text-decoration: none;
    color: white;
}
.nxl2{
    text-align: center;
}